In [1]:
import os, json
import pandas as pd

##  Function as a generator to load all files in all sub-folders under the parent directory

In [2]:
def list_files(dirpath):
    for dirname, dirnames, filenames in os.walk(dirpath):
        for filename in filenames:
            yield os.path.join(dirname, filename)

## Load all .json files use json.loads(), basically each .json file only contains 1 line

In [6]:
json_list = []

In [55]:
dirpath = 'C:/Users/YuNan/Downloads/stock/'
for filePath in list_files(dirpath):
     if filePath.endswith('.json'):
            with open(filePath) as f:
                for line in f:
                    data = json.loads(line)
                    for j in range(len([*data])):
                        for k in range(len(data[[*data][j]])):
                            json_list.append([data[[*data][j]][k]['pub_time'], [*data][j], data[[*data][j]][k]['title'], data[[*data][j]][k]['text'], data[[*data][j]][k]['url']])

## Make sure the length of json list matches the total files

In [56]:
len(json_list)

29630

## Convert Json to DataFrame in order to perform data analysis

In [57]:
col_names =  ['published_date','company','title','body','url']
df= pd.DataFrame(json_list,columns=col_names)

In [58]:
df.shape

(29630, 5)

In [59]:
df.head()

,published_date,company,title,body,url
0,2018-03-27 18:43:38+00:00,FB,BRIEF-Reports Of Mark Zuckerberg's Confirmed A...,March 28 (Reuters) -\n\n* REPORTS OF FACEBOOK’...,https://www.reuters.com/article/brief-reports-...
1,2020-09-24 14:13:09+00:00,FB,Fact check: Image condemning mask-wearing cont...,An image shared on Facebook shows an illustrat...,https://www.reuters.com/article/uk-factcheck-m...
2,2019-04-23 07:01:55+00:00,FB,Facebook's flood of languages leave it struggl...,NAIROBI/SAN FRANCISCO (Reuters) - Facebook Inc...,https://www.reuters.com/article/us-facebook-la...
3,2018-09-28 19:35:06+00:00,FB,"GLOBAL MARKETS-Italy budget woes hit Europe, b...",* Italian bank stocks take big hit on budget c...,https://www.reuters.com/article/global-markets...
4,2019-06-28 21:05:24+00:00,FB,Facebook's Libra coin likely to run a regulato...,NEW YORK/SAN FRANCISCO(Reuters) - Facebook Inc...,https://www.reuters.com/article/us-facebook-cr...

## Sort the data by date

In [60]:
df = df.sort_values(by=['published_date'], ascending=True)

In [61]:
df.head()

,published_date,company,title,body,url
1547,2016-01-28 21:06:10+00:00,FB,US STOCKS SNAPSHOT-Wall St ends up sharply on ...,"NEW YORK, Aug 16 (Reuters) - U.S. stocks rebou...",https://www.reuters.com/article/usa-stocks/us-...
26546,2016-02-18 21:05:42+00:00,WMT,"US STOCKS SNAPSHOT-S&P, Dow eke out gains afte...","NEW YORK, Sept 6 (Reuters) - The S&P 500 and t...",https://www.reuters.com/article/usa-stocks/us-...
15511,2016-03-02 22:09:26+00:00,AAPL,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...
23586,2016-03-02 22:09:26+00:00,MSFT,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...
26944,2016-03-31 20:05:35+00:00,BA,"US STOCKS SNAPSHOT-Boeing, J&J pull down Wall ...","NEW YORK, Oct 18 (Reuters) - Wall Street fell ...",https://www.reuters.com/article/usa-stocks/us-...

In [62]:
df=df.reset_index(inplace=False)
del df['index']

In [63]:
df.head()

,published_date,company,title,body,url
0,2016-01-28 21:06:10+00:00,FB,US STOCKS SNAPSHOT-Wall St ends up sharply on ...,"NEW YORK, Aug 16 (Reuters) - U.S. stocks rebou...",https://www.reuters.com/article/usa-stocks/us-...
1,2016-02-18 21:05:42+00:00,WMT,"US STOCKS SNAPSHOT-S&P, Dow eke out gains afte...","NEW YORK, Sept 6 (Reuters) - The S&P 500 and t...",https://www.reuters.com/article/usa-stocks/us-...
2,2016-03-02 22:09:26+00:00,AAPL,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...
3,2016-03-02 22:09:26+00:00,MSFT,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...
4,2016-03-31 20:05:35+00:00,BA,"US STOCKS SNAPSHOT-Boeing, J&J pull down Wall ...","NEW YORK, Oct 18 (Reuters) - Wall Street fell ...",https://www.reuters.com/article/usa-stocks/us-...

## Export to .csv file

In [64]:
df.to_csv('new_data_articles.csv')