In [2]:
import pandas as pd
df = pd.read_csv('new_data_articles.csv',index_col=0)

In [3]:
df.head()

,published_date,company,title,body,url
0,2016-01-28 21:06:10+00:00,FB,US STOCKS SNAPSHOT-Wall St ends up sharply on ...,"NEW YORK, Aug 16 (Reuters) - U.S. stocks rebou...",https://www.reuters.com/article/usa-stocks/us-...
1,2016-02-18 21:05:42+00:00,WMT,"US STOCKS SNAPSHOT-S&P, Dow eke out gains afte...","NEW YORK, Sept 6 (Reuters) - The S&P 500 and t...",https://www.reuters.com/article/usa-stocks/us-...
2,2016-03-02 22:09:26+00:00,AAPL,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...
3,2016-03-02 22:09:26+00:00,MSFT,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...
4,2016-03-31 20:05:35+00:00,BA,"US STOCKS SNAPSHOT-Boeing, J&J pull down Wall ...","NEW YORK, Oct 18 (Reuters) - Wall Street fell ...",https://www.reuters.com/article/usa-stocks/us-...

## Find the missing data, we can fill it with anything

In [4]:
df[df.isnull().any(axis=1)]

,published_date,company,title,body,url
340,2018-02-16 01:05:14+00:00,AMZN,"BRIEF-Amazon, YouTube, Twitter Are Exploring B...",NaN,https://www.reuters.com/article/brief-amazon-y...
358,2018-02-16 14:21:00+00:00,BA,BRIEF-Boeing 737 MAX 9 Awarded FAA Certification,NaN,https://www.reuters.com/article/brief-boeing-7...
600,2018-02-26 18:27:32+00:00,AVGO,BRIEF-Qualcomm Open To Broadcom Bid at $160 bl...,NaN,https://www.reuters.com/article/brief-qualcomm...
601,2018-02-26 18:27:32+00:00,QCOM,BRIEF-Qualcomm Open To Broadcom Bid at $160 bl...,NaN,https://www.reuters.com/article/brief-qualcomm...
733,2018-02-28 17:05:49+00:00,AIG,"BRIEF-AIG Files For Potential Mixed Shelf, Siz...",NaN,https://www.reuters.com/article/brief-aig-file...
...,...,...,...,...,...
26283,2020-11-17 16:24:02+00:00,AMZN,Fact Check: Un video muestra a agentes de poli...,NaN,https://www.reuters.com/article/uk-factcheck-e...
26344,2020-11-18 14:49:10+00:00,PFE,TREASURIES-Yields dip as investors balance vac...,NaN,https://www.reuters.com/article/usa-bonds/trea...
27205,2020-12-14 15:56:20+00:00,PFE,TREASURIES-Yield curve steepens as vaccine lau...,NaN,https://www.reuters.com/article/usa-bonds/trea...
27571,2020-12-22 18:40:34+00:00,WMT,"BRIEF-U.S. Sues Walmart, Alleging Role In Fuel...",NaN,https://www.reuters.com/article/brief-us-sues-...
28516,2021-01-25 15:28:18+00:00,MRK,TREASURIES-U.S. 10-year yield skids to three-w...,NaN,https://www.reuters.com/article/usa-bonds/trea...

In [5]:
df_missing_percentage=df.isnull().sum()/df.shape[0] *100

In [6]:
df_missing_percentage

published_date    0.000000
company           0.000000
title             0.000000
body              0.212622
url               0.000000
dtype: float64

In [7]:
df=df.fillna('missing')

In [8]:
df.shape

(29630, 5)

# Feature Engineer

## TF-IDF: term frequencyÃ¢â‚¬â€œinverse document frequency<br>
## Bag of Words

In [10]:
def create_tfidf(df, feature_column, max_feature_size):
    from sklearn.feature_extraction import text
    from sklearn.feature_extraction.text import TfidfVectorizer
    my_stop_words = text.ENGLISH_STOP_WORDS.union(["ap1", "00", "000", "0", "561", "190", "09", "24", "2017","2018", "000 00", "2018",
                               "jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec",
                               "ag", "ap3", "000 00 ap3", "ap2", "00 ap2", "000 00 ap2", "10", "00 ap1",
                               "000 00 ap1", "oct 2018", "000 000", "000 000 00", "october 2018", "10 2018",
                               "11 2018", "november 2018", "12 2018", "december 2018" ])
                                  
    #my_stop_words=my_stop_words.difference(["call"])

    # initilize 
    tfidf_vec = TfidfVectorizer(sublinear_tf=True,min_df=2,norm='l2',encoding="latin-1",ngram_range=(1,3),stop_words=my_stop_words,max_features=max_feature_size)
    features = tfidf_vec.fit_transform(df[feature_column]).toarray()
    return features, tfidf_vec

In [11]:
def create_bow(df, feature_column, max_feature_size):
    from sklearn.feature_extraction import text
    from sklearn.feature_extraction.text import CountVectorizer
    my_stop_words = text.ENGLISH_STOP_WORDS.union(["ap1", "00", "000", "0", "561", "190", "09", "24", "2017","2018", "000 00", "2018",
                               "jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec",
                               "ag", "ap3", "000 00 ap3", "ap2", "00 ap2", "000 00 ap2", "10", "00 ap1",
                               "000 00 ap1", "oct 2018", "000 000", "000 000 00", "october 2018", "10 2018",
                               "11 2018", "november 2018", "12 2018", "december 2018"])
    #my_stop_words=my_stop_words.difference(["call"])

    # initilize 
    Counter_vec = CountVectorizer(encoding="latin-1",ngram_range=(1,3),stop_words=my_stop_words,max_features = max_feature_size)
    features = Counter_vec.fit_transform(df[feature_column]).toarray()
    return features, Counter_vec

In [12]:
def create_words_frequency(features, features_name):
    features_df=pd.DataFrame(features)
    features_df.columns=features_name
    sorted_features = features_df.sum(axis=0).sort_values(ascending=False)
    sorted_features=pd.DataFrame(sorted_features)
    sorted_features=sorted_features.reset_index()
    sorted_features.columns=['Top Words','Counts']
    return sorted_features

In [13]:
features_tfidf, tfidf_vec = create_tfidf(df, feature_column = 'title',max_feature_size=5000)

C:\Users\YuNan\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\feature_extraction\text.py:386: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['11', '12', 'december', 'november', 'october'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [14]:
features_tfidf_names=tfidf_vec.get_feature_names()

In [15]:
tfidf_sorted_table= create_words_frequency(features_tfidf, features_tfidf_names)

In [16]:
tfidf_sorted_table.head(20)

   Top Words      Counts
0       says  462.886557
1      brief  445.190924
2     boeing  384.385959
3      apple  368.597916
4     amazon  363.937195
5   facebook  338.170936
6      tesla  327.117293
7        new  311.547314
8        ceo  294.887746
9       deal  294.860841
10     covid  288.201416
11        19  271.785781
12  covid 19  262.662051
13   vaccine  251.916691
14    profit  222.598998
15    pfizer  220.858209
16   billion  219.992549
17       max  212.216601
18     china  210.730712
19   goldman  209.127192

In [17]:
features_bow, bow_vec = create_bow(df, feature_column = 'title',max_feature_size=5000)

C:\Users\YuNan\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\feature_extraction\text.py:386: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['11', '12', 'december', 'november', 'october'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [18]:
features_bow_names=bow_vec.get_feature_names()

In [19]:
bow_sorted_table= create_words_frequency(features_bow, features_bow_names)

In [20]:
bow_sorted_table.head(20)

   Top Words  Counts
0      brief    2762
1       says    2650
2     boeing    1994
3      apple    1810
4     amazon    1711
5      covid    1532
6   facebook    1511
7        new    1497
8         19    1438
9      tesla    1435
10  covid 19    1378
11       ceo    1368
12      deal    1358
13   vaccine    1201
14    stocks    1018
15    pfizer    1012
16    profit    1007
17       max    1002
18       737     948
19   billion     910

## Sentiment Score<br>
### nltk.sentiment.vader package [medium_blog](https://medium.com/analytics-vidhya/simplifying-social-media-sentiment-analysis-using-vader-in-python-f9e6ec6fc52f).<br>
### nltk documentation[nltk_blog](https://www.nltk.org/api/nltk.sentiment.html)

In [23]:
import nltk
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\YuNan\AppData\Roaming\nltk_data...

True

In [24]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [25]:
get_ipython().run_cell_magic('time', '', 'title_score = [sid.polarity_scores(sent) for sent in df.title]')

Wall time: 3.06 s

In [26]:
len(title_score)

29630

In [27]:
df.title[0:10].values

array(['US STOCKS SNAPSHOT-Wall St ends up sharply on German stimulus optimism',
       'US STOCKS SNAPSHOT-S&P, Dow eke out gains after U.S. jobs report',
       'US STOCKS SNAPSHOT-Wall Street ends mixed as Microsoft, Apple offset',
       'US STOCKS SNAPSHOT-Wall Street ends mixed as Microsoft, Apple offset',
       'US STOCKS SNAPSHOT-Boeing, J&J pull down Wall Street along with weak China data',
       'US STOCKS SNAPSHOT-Boeing, J&J pull down Wall Street along with weak China data',
       'US STOCKS SNAPSHOT-S&P 500 notches another record, shakes off dour Cisco forecast',
       'US STOCKS SNAPSHOT-S&P 500 notches another record, shakes off dour Cisco forecast',
       'US STOCKS SNAPSHOT-Trade hopes propel Wall Street to records; healthcare climbs',
       'BRIEF-Schaeffler Q1 EBIT At EUR -88.0 Mln'], dtype=object)

In [28]:
title_score[0:10]

[{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.5423},
 {'neg': 0.0, 'neu': 0.806, 'pos': 0.194, 'compound': 0.34},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.195, 'neu': 0.805, 'pos': 0.0, 'compound': -0.4404},
 {'neg': 0.195, 'neu': 0.805, 'pos': 0.0, 'compound': -0.4404},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.781, 'pos': 0.219, 'compound': 0.4215},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}]

In [29]:
compound=[]
neg=[]
neu=[]
pos=[]

In [30]:
for i in range(len(title_score)):
    compound.append(title_score[i]['compound'])
    neg.append(title_score[i]['neg'])
    neu.append(title_score[i]['neu'])
    pos.append(title_score[i]['pos'])

In [31]:
len(compound)

29630

In [32]:
len(neg)

29630

In [33]:
len(neu)

29630

In [34]:
len(pos)

29630

In [35]:
df['compound'] = compound
df['neg'] = neg
df['neu'] = neu
df['pos'] = pos

In [36]:
df.head()

,published_date,company,title,body,url,compound,neg,neu,pos
0,2016-01-28 21:06:10+00:00,FB,US STOCKS SNAPSHOT-Wall St ends up sharply on ...,"NEW YORK, Aug 16 (Reuters) - U.S. stocks rebou...",https://www.reuters.com/article/usa-stocks/us-...,0.5423,0.000,0.741,0.259
1,2016-02-18 21:05:42+00:00,WMT,"US STOCKS SNAPSHOT-S&P, Dow eke out gains afte...","NEW YORK, Sept 6 (Reuters) - The S&P 500 and t...",https://www.reuters.com/article/usa-stocks/us-...,0.3400,0.000,0.806,0.194
2,2016-03-02 22:09:26+00:00,AAPL,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...,0.0000,0.000,1.000,0.000
3,2016-03-02 22:09:26+00:00,MSFT,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...,0.0000,0.000,1.000,0.000
4,2016-03-31 20:05:35+00:00,BA,"US STOCKS SNAPSHOT-Boeing, J&J pull down Wall ...","NEW YORK, Oct 18 (Reuters) - Wall Street fell ...",https://www.reuters.com/article/usa-stocks/us-...,-0.4404,0.195,0.805,0.000

In [37]:
df.to_csv('new_data_articles_with_sentiment.csv')