In [95]:
import numpy as np
import pandas as pd

In [96]:
df = pd.read_csv('new_data_articles_with_sentiment.csv',index_col=0)

In [97]:
df.head()

,published_date,company,title,body,url,compound,neg,neu,pos
0,2016-01-28 21:06:10+00:00,FB,US STOCKS SNAPSHOT-Wall St ends up sharply on ...,"NEW YORK, Aug 16 (Reuters) - U.S. stocks rebou...",https://www.reuters.com/article/usa-stocks/us-...,0.5423,0.000,0.741,0.259
1,2016-02-18 21:05:42+00:00,WMT,"US STOCKS SNAPSHOT-S&P, Dow eke out gains afte...","NEW YORK, Sept 6 (Reuters) - The S&P 500 and t...",https://www.reuters.com/article/usa-stocks/us-...,0.3400,0.000,0.806,0.194
2,2016-03-02 22:09:26+00:00,AAPL,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...,0.0000,0.000,1.000,0.000
3,2016-03-02 22:09:26+00:00,MSFT,US STOCKS SNAPSHOT-Wall Street ends mixed as M...,Sept 19 (Reuters) - Wall Street ended mixed on...,https://www.reuters.com/article/usa-stocks/us-...,0.0000,0.000,1.000,0.000
4,2016-03-31 20:05:35+00:00,BA,"US STOCKS SNAPSHOT-Boeing, J&J pull down Wall ...","NEW YORK, Oct 18 (Reuters) - Wall Street fell ...",https://www.reuters.com/article/usa-stocks/us-...,-0.4404,0.195,0.805,0.000

In [98]:
df2=df.copy()
df2=pd.DataFrame(df2)
n=df.shape[0]

In [99]:
for i in range(0,n):
    
    df2['published_date'][i]=df2['published_date'][i][0:10]
    if i%10000==0:
        print(i)
df2.to_csv('sentiment.csv')

C:\Users\YuNan\anaconda3\envs\tf-gpu\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0
10000
20000

In[15]:

In [100]:
df2['company'].unique()

array(['FB', 'WMT', 'AAPL', 'MSFT', 'BA', 'JNJ', 'CSCO', 'TSLA', 'AMZN',
       'TWTR', 'CVS', 'DIS', 'XOM', 'GS', 'T', 'CME', 'AVGO', 'QCOM',
       'NVDA', 'WBA', 'AIG', 'BAC', 'V', 'VZ', 'GOOG', 'GOOGL', 'MAR',
       'FDX', 'GE', 'DAL', 'LUV', 'MRK', 'AAL', 'CMCSA', 'GM', 'NKE',
       'BIIB', 'TGT', 'MET', 'XRX', 'KR', 'SO', 'PFE', 'IBM', 'JPM',
       'PEP', 'TMO', 'CAT', 'WFC', 'UNH', 'EBAY', 'OXY', 'SLB', 'BLK',
       'NFLX', 'AMGN', 'TSN', 'LMT', 'COP', 'FCX', 'HPQ', 'MCD', 'KO',
       'ABBV', 'TMUS', 'KHC', 'INTC', 'ABT', 'GILD', 'CVX', 'MA', 'LLY',
       'CB', 'ALB', 'VLO', 'REGN', 'MPC', 'CBOE', 'UAL', 'F', 'VIAC'],
      dtype=object)

In [101]:
# grouped=df2.groupby(['company']).size()
# print(grouped[:50])

# BA=df2.groupby(['company']).filter(lambda x: x=='BA')
# print(BA)

In [102]:
df2['company'].unique()[0]

'FB'

In [18]:
for i in range(df2['company'].unique().shape[0]):
    dff1 = df2[df2.company == df2['company'].unique()[i]]
    print(dff1.shape)
    dff1.to_csv('sentiment\sentiment_{}.csv'.format(df2['company'].unique()[i]),index = False)

(1663, 9)
(597, 9)
(1778, 9)
(537, 9)
(2234, 9)
(593, 9)
(110, 9)
(1464, 9)
(1645, 9)
(309, 9)
(216, 9)
(435, 9)
(711, 9)
(845, 9)
(352, 9)
(479, 9)
(130, 9)
(391, 9)
(168, 9)
(130, 9)
(126, 9)
(199, 9)
(114, 9)
(134, 9)
(541, 9)
(541, 9)
(103, 9)
(180, 9)
(452, 9)
(335, 9)
(277, 9)
(313, 9)
(296, 9)
(289, 9)
(712, 9)
(217, 9)
(149, 9)
(117, 9)
(107, 9)
(127, 9)
(109, 9)
(104, 9)
(1607, 9)
(191, 9)
(587, 9)
(107, 9)
(103, 9)
(114, 9)
(379, 9)
(104, 9)
(130, 9)
(190, 9)
(105, 9)
(367, 9)
(369, 9)
(168, 9)
(119, 9)
(241, 9)
(144, 9)
(108, 9)
(103, 9)
(217, 9)
(133, 9)
(228, 9)
(307, 9)
(111, 9)
(323, 9)
(122, 9)
(402, 9)
(388, 9)
(142, 9)
(162, 9)
(129, 9)
(108, 9)
(102, 9)
(189, 9)
(107, 9)
(289, 9)
(123, 9)
(300, 9)
(183, 9)

In [103]:
dff1=df2[(df2.company=='BA')]
print(dff1.shape)
# dff2=df2[(df2.source_name=='cnbc.com')]
# print(dff2.shape)
# dff3=df2[(df2.source_name=='fortune.com')]
# print(dff3.shape)
# dff4=df2[(df2.source_name=='reuters.com')]
# print(dff4.shape)

(2234, 9)

In [106]:
for i in range(df2['company'].unique().shape[0]):
    dff1 = pd.read_csv('sentiment\sentiment_{}.csv'.format(df2['company'].unique()[i]))
    sp = pd.read_csv("C:/Users/YuNan/Downloads/stock/historical_price/historical_price/BA_2015-12-30_2021-02-21_minute.csv")#,index_col=0)
    sp=pd.DataFrame(sp)
    dff1g=dff1.groupby(['published_date']).agg(['mean'])
    print(dff1g.shape)
    dff1g=dff1.groupby(['published_date']).agg(['mean'])
    print(dff1g.shape)
    dff1g.to_csv('groupby\sentiment_{}_groupby.csv'.format(df2['company'].unique()[i]))

(608, 4)
(608, 4)
(325, 4)
(325, 4)
(601, 4)
(601, 4)
(286, 4)
(286, 4)
(656, 4)
(656, 4)
(286, 4)
(286, 4)
(68, 4)
(68, 4)
(562, 4)
(562, 4)
(646, 4)
(646, 4)
(192, 4)
(192, 4)
(125, 4)
(125, 4)
(224, 4)
(224, 4)
(373, 4)
(373, 4)
(445, 4)
(445, 4)
(219, 4)
(219, 4)
(257, 4)
(257, 4)
(45, 4)
(45, 4)
(178, 4)
(178, 4)
(87, 4)
(87, 4)
(77, 4)
(77, 4)
(75, 4)
(75, 4)
(139, 4)
(139, 4)
(77, 4)
(77, 4)
(91, 4)
(91, 4)
(311, 4)
(311, 4)
(311, 4)
(311, 4)
(64, 4)
(64, 4)
(98, 4)
(98, 4)
(235, 4)
(235, 4)
(191, 4)
(191, 4)
(148, 4)
(148, 4)
(183, 4)
(183, 4)
(187, 4)
(187, 4)
(151, 4)
(151, 4)
(354, 4)
(354, 4)
(136, 4)
(136, 4)
(85, 4)
(85, 4)
(68, 4)
(68, 4)
(63, 4)
(63, 4)
(54, 4)
(54, 4)
(63, 4)
(63, 4)
(74, 4)
(74, 4)
(322, 4)
(322, 4)
(129, 4)
(129, 4)
(337, 4)
(337, 4)
(56, 4)
(56, 4)
(70, 4)
(70, 4)
(57, 4)
(57, 4)
(221, 4)
(221, 4)
(58, 4)
(58, 4)
(79, 4)
(79, 4)
(103, 4)
(103, 4)
(68, 4)
(68, 4)
(220, 4)
(220, 4)
(213, 4)
(213, 4)
(104, 4)
(104, 4)
(70, 4)
(70, 4)
(158, 4)
(158, 4)
(95, 4)
(95, 4)
(63, 4)
(63, 4)
(64, 4)
(64, 4)
(132, 4)
(132, 4)
(85, 4)
(85, 4)
(131, 4)
(131, 4)
(161, 4)
(161, 4)
(65, 4)
(65, 4)
(190, 4)
(190, 4)
(77, 4)
(77, 4)
(183, 4)
(183, 4)
(232, 4)
(232, 4)
(84, 4)
(84, 4)
(99, 4)
(99, 4)
(95, 4)
(95, 4)
(73, 4)
(73, 4)
(65, 4)
(65, 4)
(102, 4)
(102, 4)
(66, 4)
(66, 4)
(179, 4)
(179, 4)
(80, 4)
(80, 4)
(163, 4)
(163, 4)
(109, 4)
(109, 4)

In [135]:
import time
for ii in range(df2['company'].unique().shape[0]):
    print(df2['company'].unique()[ii])
    d1 = pd.read_csv('groupby\sentiment_{}_groupby.csv'.format(df2['company'].unique()[ii]))
    d1 = d1.iloc[3:]

    d1.columns =['published_date','compound', 'neg', 'neu', 'pos']
    d1.reset_index(drop=True, inplace=True)
    sp1=sp.copy()
    m=sp.shape[0]
#     for i in range (0,3):
#         sp1['t'][i].replace('-','/')
#     # print(sp1['t'][0])
#     sp1['t'][0]==d1['published_date'][0]

#     t=d1['published_date'][0]
#     print(d1['published_date'][0])
#     timeStruct = time.strptime(t, "%m/%d/%Y") 
#     strTime = time.strftime("%Y-%m-%d", timeStruct) 
#     for i in range(0,d1.shape[0]):
#         t=d1['published_date'][i]
#         timeStruct = time.strptime(t, "%m/%d/%Y") 
#         d1['published_date'][i] = time.strftime("%Y-%m-%d", timeStruct) 
    sp1['date'] = sp1['t'].apply(lambda x: x.split(' '))
    sp1['Date'] = sp1['date'].apply(lambda x: x[0])
    sp1['time'] = sp1['date'].apply(lambda x: x[1])
    sp1.drop_duplicates(subset=['Date'], keep='last', inplace = True)
    sp1.reset_index(inplace = True)

    date_union_1=pd.DataFrame(columns=('idx','date','mean_compound','comp_flag'))
    sp_len=sp1.shape[0]
    d_len=d1.shape[0]
    d=d1.copy()
    for i in range(0,sp_len):
        idx=i
        date=sp1['Date'][i]
        j=0
        t=0
        while j<d_len:
            if sp1['Date'][i]==d['published_date'][j]:
                mean_compound=d['compound'][j]
                comp_flag=1
                t=1
                break
            j=j+1
        if t==0:
            mean_compound=0
            comp_flag=0

        date_union_1=date_union_1.append(pd.DataFrame({'idx':[idx],
                                                      'date':[date],
                                                      'mean_compound':[mean_compound],
                                                      'comp_flag':[comp_flag]

        }),ignore_index=True)
    print(date_union_1.shape)
    date_union_1.to_csv('new_data_union_{}.csv'.format(df2['company'].unique()[ii]))

FB
(1364, 4)
WMT
(1364, 4)
AAPL
(1364, 4)
MSFT
(1364, 4)
BA
(1364, 4)
JNJ
(1364, 4)
CSCO
(1364, 4)
TSLA
(1364, 4)
AMZN
(1364, 4)
TWTR
(1364, 4)
CVS
(1364, 4)
DIS
(1364, 4)
XOM
(1364, 4)
GS
(1364, 4)
T
(1364, 4)
CME
(1364, 4)
AVGO
(1364, 4)
QCOM
(1364, 4)
NVDA
(1364, 4)
WBA
(1364, 4)
AIG
(1364, 4)
BAC
(1364, 4)
V
(1364, 4)
VZ
(1364, 4)
GOOG
(1364, 4)
GOOGL
(1364, 4)
MAR
(1364, 4)
FDX
(1364, 4)
GE
(1364, 4)
DAL
(1364, 4)
LUV
(1364, 4)
MRK
(1364, 4)
AAL
(1364, 4)
CMCSA
(1364, 4)
GM
(1364, 4)
NKE
(1364, 4)
BIIB
(1364, 4)
TGT
(1364, 4)
MET
(1364, 4)
XRX
(1364, 4)
KR
(1364, 4)
SO
(1364, 4)
PFE
(1364, 4)
IBM
(1364, 4)
JPM
(1364, 4)
PEP
(1364, 4)
TMO
(1364, 4)
CAT
(1364, 4)
WFC
(1364, 4)
UNH
(1364, 4)
EBAY
(1364, 4)
OXY
(1364, 4)
SLB
(1364, 4)
BLK
(1364, 4)
NFLX
(1364, 4)
AMGN
(1364, 4)
TSN
(1364, 4)
LMT
(1364, 4)
COP
(1364, 4)
FCX
(1364, 4)
HPQ
(1364, 4)
MCD
(1364, 4)
KO
(1364, 4)
ABBV
(1364, 4)
TMUS
(1364, 4)
KHC
(1364, 4)
INTC
(1364, 4)
ABT
(1364, 4)
GILD
(1364, 4)
CVX
(1364, 4)
MA
(1364, 4)
LLY
(1364, 4)
CB
(1364, 4)
ALB
(1364, 4)
VLO
(1364, 4)
REGN
(1364, 4)
MPC
(1364, 4)
CBOE
(1364, 4)
UAL
(1364, 4)
F
(1364, 4)
VIAC
(1364, 4)

In [38]:
date_union_1.to_csv('new_date_union_AAL.csv')